<div class="min-h-screen bg-no-repeat bg-cover bg-center flex justify-center items-center mx-auto" style="background-image: url('images/barber-stock.png'); max-width: 575px;">
    <div class="flex flex-col items-center justify-center h-full">
        <div class="text-center mb-12">
            <div class="mb-4 mx-auto justify-center flex">
                <img src="images/logo.png"/>
            </div>
            <h2 class="text-3xl font-bold mb-4 p-3 m-2">Find a new barber<br>in seconds.</h2>
            <p class="text-gray-400">Find your professional barber at your fingertips.</p>
        </div>
        
        <div class="mt-8 text-center mx-auto">
            <a href="/login" class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-12 rounded-xl text-lg">Sign In</a>
            <p class="text-gray-400 my-4 text-center">or</p>
            <a href="/signup" class="text-white py-2 px-4 rounded">Sign up</a>
        </div>
    </div>
</div>
